# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual Environment
.venv/

# Jupyter
.ipynb_checkpoints/

# VS Code
.vscode/

# Models
models/
outputs/

# Data
data/raw/
data/processed/

# Logs
*.log

# Environment
.env

# OS
.DS_Store
Thumbs.db